/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

html {
  min-height: 100%;
  box-shadow: inset 0 0 300em 1em #000;
  background: url("https://cdn.glitch.com/20e4e05a-f629-46f5-96bc-240e28f76d7e%2FBoard.png?v=1584225304878") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.deck {
  width: 35%;
  margin-left: auto ;
  margin-right: auto ;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  position: relative;
} 

.deckSideways {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  position: relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
} 

.south {
  width=100%;
  position:absolute;
  bottom:0;
}

.north {
  width=100%;
  position:absolute;
  top:0;
}

.east {
  width=100%;
  position:absolute;
  right:0;
}

.west {
  width=100%;
  position:absolute;
  left:-11%;
  top:40%;
}

.card {
  width: 100%;
  height: auto;
}

.card1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  z-index: 1;
}

.card2 {
  grid-column: 2 / span 2;
  grid-row: 1;
  z-index: 2;
}

.card3 {
  grid-column: 3 / span 2;
  grid-row: 1;
  z-index: 3;
}

.card4 {
  grid-column: 4 / span 2;
  grid-row: 1;
  z-index: 4;
}

.card5 {
  grid-column: 5 / span 2;
  grid-row: 1;
  z-index: 5;
}

.card6 {
  grid-column: 6 / span 2;
  grid-row: 1;
  z-index: 6;
}

.card7 {
  grid-column: 7 / span 2;
  grid-row: 1;
  z-index: 7;
}

.card8 {
  grid-column: 8 / span 2;
  grid-row: 1;
  z-index: 8;
}